html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background) no-repeat 100%;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-primary);

  font-family: "PixelMix", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* #region TOAST */
.vocal-toast {
  background: linear-gradient(89.99deg, #151521 -64.2%, #302E4B -2.4%, #31304D 68.23%, #1B1B2B 114.57%);
  font-size: 11px;
  border-radius: 0;
  border: none;
  box-shadow: 1.39px 1.39px 0px 0px #59596D;
  color: white;
  &[data-type="success"] {
    color: var(--color-primary);
  }
  &[data-type="error"],
  &[data-type="warning"] {
    color: var(--color-warn);
  }
}
/* #endregion */

/* #region NuxtImg */
.image {
  opacity: 1;
  transition: transform .7s 0.7s ease, opacity .7s 0.7s ease;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}

.image-placeholder {
  color: grey;
  display: inline-block;
  filter: blur(5px);
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
  max-width: 200px;
}

.image.preload {
  transform: translateY(2rem);
  opacity: 0;
}
/* #endregion */

/* #region TABINDEX */
/* Add custom focus styles for better accessibility */
:focus-visible {
  outline: 3px dashed var(--color-primary);
  outline-offset: 4px;
  border-radius: 4px;
  transition: outline-color 0.2s ease-in-out, outline-offset 0.2s ease-in-out;
}
/* #endregion */

/* #region LINKS */
a {
  color: inherit;
  text-decoration: none;
}
/* #endregion */
